node_modules/

# iOS
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
*.ipa

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab

# OS/editor cruft
.DS_Store
Thumbs.db
